@import "tailwindcss";

@theme {
  --color-sae-orange: #ff6600;
  --color-app-bg-outer: #121212; /* DARK grey outside */
  --color-app-bg: #222222; /* Grey Inside container */
  --shadow-float-glow: 0 4px 50px rgba(0, 0, 0, 0.5);
}

/* Use standard CSS instead of @apply to stop the VS Code error */
@layer base {
  body {
    background-color: var(--color-app-bg);
    color: var(--text-zinc-400);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}