@import "tailwindcss";

@theme {
  /* This creates the 'sae-orange' utility class automatically */
  --color-sae-orange: #ff6600;
  
  /* You can also define your fonts here if you want to keep it clean */
  --font-sans: "Inter", "system-ui", "sans-serif";
}

:root {
  background-color: #121212;
}

body {
  margin: 0;
  background: #121212;
}

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}